/* Photo by Blake Richard Verdoorn on Unsplash */
body {
    height: 100%;

	background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(242, 153, 74, 0.5) 5%, rgba(242, 201, 76, 0.35)), url("../../images/backgrounds/blake-richard-verdoorn-15549-unsplash.jpg");
  	background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(242, 153, 74, 0.5) 5%, rgba(242, 201, 76, 0.35)), url("../../images/backgrounds/blake-richard-verdoorn-15549-unsplash.jpg");
  	background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(242, 153, 74, 0.5) 5%, rgba(242, 201, 76, 0.35)), url("../../images/backgrounds/blake-richard-verdoorn-15549-unsplash.jpg");
  	background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(242, 153, 74, 0.5) 5%, rgba(242, 201, 76, 0.35)), url("../../images/backgrounds/blake-richard-verdoorn-15549-unsplash.jpg");
  	background-repeat: repeat,			no-repeat,			no-repeat;
  	background-size: 100px 100px,	cover,				cover;
  	background-position: top left,		center center,		bottom center;
  	background-attachment: fixed,			fixed,				fixed; }
}
